{% extends "base.html.twig" %}

{% form_theme form "form/form_errors.html.twig" %}

{% block body %}
    {{ form_start(form, {'attr':{'class': 'mt-32 mb-10'}}) }}
        <div class="grid row-gap-4 col-gap-4 grid-cols-6 items-center">
            <div class="col-span-6">
                {% for message in app.flashes('success') %}
                    <div class="bg-green-200 border-l-4 border-green-500 text-green-800 p-4">
                        <p class="font-bold flex items-center"><i class="ri-check-double-line ri-xl mr-2"></i> Succès !</p>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
                    <div class="bg-red-200 border-l-4 border-red-500 text-red-800 p-4">
                        <p class="font-bold flex items-center"><i class="ri-check-double-line ri-xl mr-2"></i> Erreur !</p>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-span-6 flex justify-between">
                <img src="{{ asset('uploads/profile/'~user.avatar) }}" alt="{{ app.user.avatar }}" class="mr-4 w-20 h-20 object-cover rounded-full border-2 border-teal-500"/>
                <div class="flex justify-end">
                    <button>
                        <a type="submit" class="py-4 bg-teal-500 text-white font-medium px-5 rounded hover:bg-teal-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <i class="ri-edit-line mr-2"></i>
                            Mettre à jour
                        </a>
                    </button>
                </div>
            </div>
            <div class="col-span-6">
                <hr>
            </div>
            <div class="col-span-6 md:col-start-1 md:col-span-2">
                {{ form_label(form.avatar) }}
                {{ form_widget(form.avatar) }}
                {{ form_errors(form.avatar) }}
            </div>
            <div class="col-span-6 md:col-start-4 md:col-span-1">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="col-span-6 md:col-start-5 md:col-span-1">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
                {{ form_errors(form.lastName) }}
            </div>
            <div class="col-span-6 md:col-start-6 md:col-span-1">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                {{ form_errors(form.country) }}
            </div>
            <div class="col-span-6 md:col-end-7 md:col-span-3">
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
    {{ form_end(form) }}

    {{ form_start(form_password) }}
        <div class="grid row-gap-4 col-gap-4 grid-cols-6 items-center">
            <div class="col-span-6 md:col-start-1 md:col-span-3">
                {{ form_label(form_password.oldPassword) }}
                {{ form_widget(form_password.oldPassword) }}
                {{ form_errors(form_password.oldPassword) }}
            </div>
            <div class="col-span-6 md:col-start-1 md:col-span-3">
                {{ form_label(form_password.newPassword) }}
                {{ form_widget(form_password.newPassword) }}
                {{ form_errors(form_password.newPassword) }}
            </div>
            <div class="col-span-6 md:col-start-4 md:col-span-3">
                {{ form_label(form_password.confirmPassword) }}
                {{ form_widget(form_password.confirmPassword) }}
                {{ form_errors(form_password.confirmPassword) }}
            </div>
            <div class="col-span-6 flex justify-end">
                    <button>
                        <a type="submit" class="py-4 bg-gray-500 text-white font-medium px-5 rounded hover:bg-gray-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <i class="ri-edit-line mr-2"></i>
                            Mise à jour du mot de passe
                        </a>
                    </button>
            </div>
        </div>

    {{ form_end(form_password) }}


    <div class="grid row-gap-1 col-gap-4 grid-cols-6 items-center">
        <div class="col-span-6 ">
            <div class="py-4 px-8 bg-white shadow-lg rounded-lg my-10 border-2 border-red-400">
                <div>
                    <h2 class="text-gray-800 text-3xl font-semibold">Zone Dangereuse !</h2>
                    <p class="mt-2 text-gray-800">
                        <span class="font-bold">Supprimer mon compte</span><br>
                        Une fois que vous avez supprimé votre compte, vous ne pouvez plus revenir en arrière. Soyez certain.
                    </p>
                </div>
                <div class="flex mt-4">
                    <a class="text-xl font-medium text-red-500" href="{{ path("edit_profile_delete", {id: user.id}) }}">Supprimer mon compte</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}