{% extends "admin/base.html.twig" %}

{% block body %}
    <div class="antialiased font-sans w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal">
        <div class="col-span-6">
            {% for message in app.flashes('success') %}
                <div class="bg-green-200 border-l-4 border-green-500 text-green-800 p-4">
                    <p class="font-bold flex items-center"><i class="ri-check-double-line ri-xl mr-2"></i> Succès !</p>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="bg-red-200 border-l-4 border-red-500 text-red-800 p-4">
                    <p class="font-bold flex items-center"><i class="ri-check-double-line ri-xl mr-2"></i> Erreur !</p>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
        <h2 class="text-2xl font-semibold leading-tight mb-5">Catégories</h2>
        <div class="">
            <div class="flex justify-end">
                <a href="{{ path('admin.category.new') }}" class="py-4 bg-teal-500 text-white font-medium px-5 rounded hover:bg-teal-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                    <i class="ri-file-add-line mr-2"></i>
                    Ajouter une catégorie
                </a>
            </div>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Catégories
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Slug
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Édition
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for category in categories %}
                            <tr>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <b>{{ category.name }}</b>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ category.slug }}
                                    </p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex">
                                        <div class="flex flex-col text-gray-500 hover:text-gray-800 whitespace-no-wrap mr-3">
                                            <i class="ri-edit-2-line"></i>
                                            <a href="{{ path("admin.category.edit", {slug: category.slug}) }}">
                                                Éditer
                                            </a>
                                        </div>
                                        <div class="flex flex-col text-gray-500 hover:text-gray-800 whitespace-no-wrap mr-3">
                                            <i class="ri-delete-bin-6-line mr-2"></i>
                                            <a href="{{ path("admin.category.delete", {id: category.id}) }}">
                                                Supprimer
                                            </a>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                    <span class="text-xs xs:text-sm text-gray-900">Tricks de 1 à 4 sur 12 entitées</span>
                    <div class="inline-flex mt-2 xs:mt-0">
                        <button class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11.828 12l2.829 2.828-1.414 1.415L9 12l4.243-4.243 1.414 1.415L11.828 12z"/></svg>
                        </button>
                        <button class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12.172 12L9.343 9.172l1.414-1.415L15 12l-4.243 4.243-1.414-1.415z"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}