<div class="d-flex justify-content-end">
    {% include "admin/pagination.html.twig" %}
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Trick(s)</th>
        <th scope="col">Crée Le</th>
        <th scope="col">Statuts</th>
        <th scope="col"></th>
    </tr>
    </thead>
    {% for trick in tricks %}
        <tbody>
        <tr>
            <th scope="row"  class="align-middle"> <img src="{{ asset('uploads/trick/'~trick.mainPicture) }}" alt="#" class="rounded thumbnails-picture" width="80"></th>
            <td class="align-middle"><a href="{{ path("admin.trick.edit", {slug: trick.slug}) }}">{{ trick.title }}</a></td>
            <td  class="align-middle">{{ trick.createdAt |date("d M, Y","Europe/Paris") }}</td>
            <td  class="align-middle">
                {% if trick.isValid == true %}
                    <div class="d-flex align-items-center text-primary">
                        <i class="ri-checkbox-blank-circle-fill text-success"></i>
                    </div>
                {% else %}
                    <div class="d-flex align-items-center text-black-50 ">
                        <i class="ri-checkbox-blank-circle-fill text-secondary"></i>
                    </div>
                {% endif %}
            </td>
            <td  class="align-middle">
                <a href="{{ path("admin.trick.delete", {id: trick.id}) }}" class="text-danger d-flex justify-content-center align-items-center">
                    <i class="ri-delete-bin-7-fill"></i>
                </a>
            </td>
        </tr>

        </tbody>

    {% endfor %}
</table>
<hr/>
<div class="pagination">
    {% for page, number in pagination %}
        {% if number is null %}
            <span>{{ page|raw }}</span>
        {% else %}
            <a href="?page={{ number }}">{{ page|raw }}</a>
        {% endif %}
    {% endfor %}
</div>
<hr/>