{% extends "base.html.twig" %}

{% block title %} Article - Snowboard Switch, 270, crippler, cork {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4">{{ trick.name }}</h1>
                <p class="lead">Auteur : {{ trick.user.username }}</p>

                <hr>

                <small>
                    Publié le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} |
                    Mis à jour le {{ trick.updatedAt | date('d/m/Y') }} à {{ trick.updatedAt | date('H:i') }}
                </small>

                <hr>

                <h5>Catégorie : <span class="badge badge-primary">{{ trick.category.name }}</span></h5>

                <img src="{{ asset('img/tricks/') }}{{ trick.mainPicture.name }}" alt="Image Trick" class="w-100 img-thumbnail">

                <div class="row text-center text-lg-left mt-4">
                    {% for picture in trick.pictures %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <img class="img-fluid img-thumbnail" src="{{ asset('img/tricks/') }}{{ picture.name }}" alt="Image Trick">
                    </div>
                    {% endfor %}
                </div>

                <div class="row text-center text-lg-left mt-4">
                    <div class="col-lg-3 col-md-4 col-6">
                        <iframe width="525" height="344" src="{{ trick.movie }}" frameborder= "0" allowFullScreen=""></iframe>
                    </div>
                </div>

                <hr>

                <p class="lead">{{ trick.description | raw }}</p>
                <hr>

                <div class="card my-4">
                    {% if app.user %}
                    <h5 class="card-header">Commentaires :</h5>
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        {{ form_end(form) }}
                    </div>
                    {% else %}
                        <div class="card text-center p-2">
                            <h4 class="m-0">Veuillez vous connecter pour laisser un commentaire</h4>
                        </div>
                    {% endif %}
                </div>

                {% for comment in trick.comments %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.username }}</h5>
                        <small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>
                        {{ comment.content }}
                    </div>
                </div>
                {% endfor %}
                <div>
                    {% include 'trick/pagination.html.twig' with {
                        'route': 'trick.show'
                    } %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}